/* h1 {
    background-color: aqua;
}

.container {
    color: rgb(9, 56, 7) !important;
}

.pagal {
    text-decoration: line-through;
} */

.custom-button {
    padding: 30px;
    font-size: 30px;
    margin: 20px;
    background-color: cadetblue;
}