<!-- <input class="text-primary" type="number" [(ngModel)]="a" placeholder="First Value"><br><br>
<input type="number" [(ngModel)]="b" placeholder="Second Value">



<h1>Result = {{c}}</h1>
<div class="container">
  <h1 class="pagal" style="background-color: blueviolet;">pagal</h1>

<button (click)="add()" class="btn btn-primary">+</button>
<button (click)="sub()" class="btn btn-secondary">-</button>
<button (click)="multiply()" class="btn btn-tertiary">*</button>
</div> -->






<div class="container" style="margin: 100px;">
  <div class="card text-center" style="width: 500px; margin: auto;">
    <div class="card-header" style="min-height: 50px;">
      <input type="number" [(ngModel)]="a" readonly class="form-control text-end">
      {{c}}
    </div>
    <div class="card-body">
      <div style="display: flex;">
        <button (click)="addData(7)" class="custom-button">7</button>
        <button (click)="addData(8)" class="custom-button">8</button>
        <button (click)="addData(9)" class="custom-button">9</button>
        <button (click)="add()" class="custom-button">+</button>
      </div>
      <div style="display: flex;">
        <button (click)="addData(4)" class="custom-button">4</button>
        <button (click)="addData(5)" class="custom-button">5</button>
        <button (click)="addData(6)" class="custom-button">6</button>
        <button (click)="sub()" class="custom-button">-</button>
      </div>
      <div style="display: flex;">
        <button (click)="addData(1)" class="custom-button">1</button>
        <button (click)="addData(2)" class="custom-button">2</button>
        <button (click)="addData(3)" class="custom-button">3</button>
        <button (click)="multiply()" class="custom-button">*</button>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <button (click)="divide()" class="custom-button">/</button> 
    </div>
  </div>
</div>