<div class="container">
    <div class="card text-center" style="width: 500px; margin: auto;">
        <div class="card-header" style="min-height: 50px;">
            <h1>Contact</h1>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" [(ngModel)]="name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                <input type="number" [(ngModel)]="phone" class="form-control" id="exampleFormControlInput1" placeholder="+91">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" [(ngModel)]="message" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" (click)="submit()" >Submit</button>
            </div>
        </div>
    </div>
</div>